* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(80, 80, 80);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.title {
  display: flex;
  padding: 15px 0;
  justify-content: center;
}

.title h1 {
  font-family: "Kode Mono", monospace;
  font-weight: 650;
  font-style: normal;
  font-size: 52px;
  color: rgb(147, 0, 167);
  text-shadow: 2px 2px 2px rgb(173, 173, 173),
    0px -4px 10px rgba(0, 0, 0, 0.877);
  ;
}

.rule {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  color: white;
}

.rule p {
  font-size: 22px;
  font-weight: 400;
}

.score {
  display: flex;
  color: white;
  justify-content: center;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  gap: 10px;
  padding: 20px 0;
}

.score span {
  font-size: 22px;
}

.border {
  display: flex;
  justify-content: center;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  width: fit-content;
  gap: 10px 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(79deg, rgba(0, 0, 0, 0.658) 23%, rgb(0, 0, 0) 44%, rgb(0, 0, 0) 100%);
  animation: 2s rotate linear infinite;
  border: 0.25rem solid;
  border-image: conic-gradient(from var(--angle), rgba(255, 255, 255, 0.562), rgba(255, 255, 255, 0.548), rgba(158, 129, 129, 0.507), rgb(255, 255, 255)) 1;
  overflow: hidden;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

#option {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 0.541) 0%, rgba(148, 188, 233, 0.548) 100%);
  margin: 0 10px;
  font-size: 30px;
  height: 150px;
  width: 200px;
  max-height: 250px;
  cursor: pointer;
  background-color: #865DFF;
}

#option:hover {
  background-color: #E384FF;
}


.outcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: white;
}